

#days{
color: white;
}
#hours{
  color: white;
}
#minutes{
  color: white;
}

#seconds{
  color: white;
}
/* IDEA:   (https://images.wallpaperscraft.com/image/surrealism_boat_clouds_130292_1920x1080.jpg);*/
 .hintergrund {
   /* IDEA: background-image: url(https://images.wallpaperscraft.com/image/surrealism_boat_clouds_130292_1920x1080.jpg);
   background-size: 100% */

   /* IDEA:(https://images.wallpaperscraft.com/image/clouds_porous_sky_125791_3840x2160.jpg);  */

    }
