
#days{
color: white;
}

#hours{
  color: white;
}

#minutes{
  color: white;
}

#seconds{
  color: white;
}


body { font-family:'Emilys Candy',sans-serif;font-weight:300 }

/* IDEA: iframe {
width: 100%;
transform: translateX(-40%) translateY(-30%);
}
 */
.mr {
   transform: translateX(0px) translateY(0px); /* IDEA: welches bild ist das 
 */
 }

 .mr2 {
   transform: translateX(0px) translateY(800px); /* IDEA: welches bild ist das 
 */
 }

.mr3{
  transform: translateX(150px) translateY(450px); /* IDEA: welches bild ist das 
 */

}

/* IDEA:
audio{
  transform: translateY(700%);
} */
/* IDEA:   (https://images.wallpaperscraft.com/image/surrealism_boat_clouds_130292_1920x1080.jpg);*/

   /* IDEA: background-image: url(https://images.wallpaperscraft.com/image/surrealism_boat_clouds_130292_1920x1080.jpg);
   background-size: 100%; */

   /* IDEA:(https://images.wallpaperscraft.com/image/clouds_porous_sky_125791_3840x2160.jpg);  */
