#days{
color: white;
}

#hours{
  color: white;
}

#minutes{
color: white;
}

#seconds{
  color: white;

}

#days{
color: white;
}
#hours{
  color: white;
}
#minutes{
  color: white;
}

#seconds{
  color: white;
}

.hintergrund {

  		background-image:url(HinterGrundBildB-day.jpg);
      background-size: 100%;
    }
